@font-face {
  font-family: 'DungeonFont';
  src: url('../assets/Fonts/DungeonFont.ttf');
}

@font-face {
  font-family: 'Monogram';
  src: url('../assets/Fonts/monogram.ttf');
}

:root {
  --clr-primary: blanchedalmond;
  --clr-dark: rgb(0, 0, 0);

  --clr-active: rgb(163, 255, 92);
  --clr-disable: rgb(255, 168, 168);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.game {
  display: flex;
  top: 50px;
  justify-content: center;
  position: relative;
  font-family: 'Monogram', Arial, sans-serif;
}

.error-info {
  position: absolute;
  top: 100%;
  font-size: 2rem;
  color: red;
  opacity: 0;
}

.error-info.active {
  opacity: 1;
}

/* Utils */

.flex {
  display: flex;
  gap: var(--_gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--_gap, 1rem);
}

.button {
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:disabled {
  opacity: 0.5;
}

.button:hover {
  opacity: 0.7;
}

.button:disabled:hover {
  opacity: 0.5;
}

.radius-5 {
  border-radius: 5px;
}
/* Right Info Bar Start*/

/* Info */

.game-info {
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-primary);
  padding: 5px;
  max-height: 512px;
  width: 351px;
}

.general-info {
  justify-content: center;
}

.general-info__info {
  font-size: 1.5rem;
}

.game-buttons {
  flex-direction: column;
  justify-content: center;
}

.game-button__secondary {
  background-color: var(--clr-disable);
  flex: 1;
}

.game-button__secondary.active {
  background-color: var(--clr-active);
}

.game-button__primary {
  background-color: rgb(0, 178, 128);
}

/* Turret info */
.turrets-display {
  margin-top: -40px;
  display: none;
}

.turrets-display.active {
  display: block;
}
.turrets-display__title {
  font-size: 2rem;
  text-align: center;
}
.turrets-display__container {
  grid-template-columns: repeat(2, 1fr);
}

.turret-conatiner {
  border: 2px solid black;
  justify-content: space-evenly;
}
.turret-container__info {
  flex-direction: column;
}

.turret__price,
.turret__name {
  font-size: 1.25rem;
}
.turret__price {
  color: var(--clr-dark);
}
.turret__name {
  color: goldenrod;
}

/* Turrets active */

.turret-open {
  display: none;
  flex-direction: column;
  gap: 2px;
}

.turret-open.active {
  display: flex;
}

.turret-open__general {
  background-color: grey;
  border: 2px solid black;
}
.general__section {
  justify-content: space-evenly;
  align-items: center;
}

.general__name-container {
  flex-direction: column;
}

.general__name {
  font-size: 1.25rem;
}

/* to fix */
.general__button {
  background: var(--clr-disable);
  border: 0;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
}

.general__stats {
  grid-template-columns: repeat(3, 1fr);
}

.general__stats-stats {
  text-align: center;
  font-size: 22px;
}

.turret-open__column-section {
  grid-template-columns: repeat(3, 1fr);
}

.turret-open__column {
  border: 2px solid black;
  background-color: grey;
  padding: 0.25rem 0.5rem;
  flex-direction: column;
  align-items: center;
}
.turret-open__column-title {
  font-size: 1.5rem;
}

.upgrade-list {
  flex-direction: column;
}

.upgrade-list__li {
  list-style: none;
  padding: 0;
  align-items: center;
}

.upgrade-list__button {
  color: var(--clr-dark);
  background-color: var(--clr-disable);
  padding: 5px 10px;
  border: 0;
}

.upgrade-list__button:disabled {
  opacity: 0.5;
}

.upgrade-list__button.bought:disabled {
  background-color: var(--clr-active);
}

.upgrade-list__info {
  font-size: 1.5rem;
  color: var(--clr-dark);
}

.turret--active-close {
  background-color: rgb(0, 178, 128);
  color: black;
  border: 2px solid black;
  font-size: 1.25rem;
}

/* Right Info Bar End*/
